{% extends "base.html" %}

{% block body %}
    <a href="{% url 'index' %}">一覧画面へ</a>
    <form action="" method="post">
        {{ form.errors.message }}
        <label>{{ form.message.label }}{{ form.message }}</label><br/>
        <label>{{ form.lastname.label }}{{ form.lastname }}</label><br/>
        <label>{{ form.gender.label }}{{ form.gender }}</label><br/>
        <label>{{ form.email.label }}{{ form.email }}</label><br/>
        <label>{{ form.mobile_number.label }}{{ form.mobile_number }}</label><br/>
        <label>{{ form.date.label }}{{ form.date }}</label><br/>
        <label>{{ form.time.label }}{{ form.time }}</label><br/>
        <label>{{ form.pay_type.label }}{{ form.pay_type }}</label><br/>
        <label>{{ form.card_number.label }}{{ form.card_number }}</label><br/>
        <label>{{ form.expiry_date.label }}{{ form.expiry_date }}{{ form.expiry_year.label }}{{ form.expiry_year }}</label><br/>
        <label>{{ form.security_code.label }}{{ form.security_code }}</label><br/>
        <label>{{ form.free_zone.label }}{{ form.free_zone }}</label><br/>

        {% csrf_token %}
        <input type="submit" value="登録">
    </form>
{% endblock %}
